{% extends "_default.twig" %}

{% block content %}

    <div id="add-new-book">

    </div>

{% endblock %}

{% block reactscript %}

    <script>
        $(document).ready(function() {
            // No data now, should remove NULL later
            ReactLoader.init(null, document.getElementById('add-new-book'));
        })
    </script>

{% endblock %}

